@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        <fieldset>
			<legend>authentification User</legend>
			<form method="post" action="/users/authentification">
				<input name="email" placeholder="email">
				<input name="password" placeholder="password">
				<button type="submit">authentification User</button>
			</form>
		</fieldset>
		
        <fieldset>
			<legend>Nouveau User</legend>
			<form method="post" action="/users/add">
				<input name="lastName" placeholder="lastName">
				<input name="firstName" placeholder="firstName">
				<input name="email" placeholder="email">
				<input name="password" placeholder="password">
				<input name="roleUser" placeholder="roleUser">
				<input name="typeUser" placeholder="typeUser">
				<input name="residenceId" placeholder="residenceId">
				<button type="submit">Ajouter le nouveau User</button>
			</form>
		</fieldset>
		
		<fieldset>
			<legend>Nouveau contact</legend>
			<form method="post" action="/users/getContact">
				<input name="id" placeholder="id">
				<button type="submit">Ajouter le nouveau User</button>
			</form>
		</fieldset>
		
		 <fieldset>
			<legend>Nouveau Actualite</legend>
			<form method="post" action="/actualites/add">
				<input name="subject" placeholder="subject">
				<input name="body" placeholder="body">
				<input name="from" placeholder="from">
				<input name="residenceId" placeholder="residenceId">
				<button type="submit">Ajouter le nouveau Actualite</button>
			</form>
		</fieldset>
		
		<fieldset>
			<legend>Nouveau Messages</legend>
			<form method="post" action="/messages/add">
				<input name="subject" placeholder="subject">
				<input name="body" placeholder="body">
				<input name="from" placeholder="from">
				<input name="to" placeholder="to">
				<button type="submit">Ajouter le nouveau Messages</button>
			</form>
		</fieldset>
		
		<fieldset>
			<legend>Nouveau depots</legend>
			<form method="post" action="/depots/add">
				<input name="subject" placeholder="subject">
				<input name="body" placeholder="body">
				<input name="from" placeholder="from">
				<input name="residenceId" placeholder="residenceId">
				<button type="submit">Ajouter le nouveau Messages</button>
			</form>
		</fieldset>
		
		<fieldset>
			<legend>Nouveau Residence</legend>
			<form method="post" action="/residences/add">
				<input name="name" placeholder="name">
				<input name="number" placeholder="number">
				<input name="streetName" placeholder="streetName">
				<input name="city" placeholder="city">
				<input name="zipCode" placeholder="zipCode">
				
				<button type="submit">Ajouter le nouveau Residence</button>
			</form>
		</fieldset>
		
    </body>
</html>
